.about {

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.about-text-wrap {
  min-width: 320px;
  width: calc(100% - #{$spacer-lg});
  background: $secondary;
  padding: $spacer-md;

  @include media-breakpoint-up(xxl) {
    width: 55%;
    float: left;
    padding: $spacer-lg $spacer-lg $spacer-lg calc((100% - 1410px) / 2);
    position: relative;

    &::after {
      content: '';
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      top: 0;
      right: 0;
      border-top: solid 252px $white;
      border-left: solid 100px transparent;
    }
  }
}

.about-text {
  color: $white;
  margin: 0;

  @include media-breakpoint-up(xxl) {
    max-width: 660px;
  }
}

.about-socials-wrap {
  background: $primary;
  padding: $spacer $spacer-md;
  display: inline-block;

  @include media-breakpoint-up(xxl) {
    width: 45%;
    padding: 0 0 0 $spacer-xl;
    display: flex;
    align-items: center;
    float: right;
    height: calc(252px / 2);
    position: relative;

    &::before {
      content: '';
      display: block;
      height: 0;
      width: 0;
      position: absolute;
      top: 0;
      left: 0;
      border-bottom: 126px solid $white;
      border-right: 52px solid transparent;
    }
  }
}

.about-socials {
  display: inline-block;

  .socials-item {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: $spacer-md;
    }

    @include media-breakpoint-up(xxl) {
      
      &:not(:last-of-type) {
        margin-right: $spacer-lg;
      }
    }
  }

  .socials-link {
    color: $white;

    @include media-breakpoint-up(xxl) {
      font-size: 1.875rem;
    }
  }
}