.about-text-wrap {
  min-width: 320px;
  width: calc(100% - #{$spacer-lg});
  background: $secondary;
  padding: $spacer-md;

  @include media-breakpoint-up(xxl) {
    width: 50%;
    padding: $spacer-lg $spacer-lg $spacer-lg calc((100% - 1410px) / 2);
  }
}

.about-text {
  color: $white;
  margin: 0;

  @include media-breakpoint-up(xxl) {
    max-width: 660px;
  }
}

.about-socials {
  background: $primary;
  display: inline-block;
  padding: $spacer $spacer-md;

  .socials-item {
    display: inline-block;

    &:not(:last-of-type) {
      margin-right: $spacer-md;
    }
  }

  .socials-link {
    color: $white;

    @include media-breakpoint-up(xxl) {
      font-size: 1.875rem;
    }
  }
}