.cta {
  font-size: 1.2rem;
  font-weight: bold;
  color: $secondary;
  padding-right: $spacer * 3;
  position: relative;

  &:hover {
    text-decoration: none;
    color: $secondary;

    &:before {
      opacity: 1;
      transform: translateX(100%);
    }

    &::after {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  &::before {
    content: '';
    opacity: 0;
    position: absolute;
    width: 30px;
    height: 2px;
    background: $primary;
    right: 30px;
    top: calc(50% - 2px);
    transition: 
      opacity ease-out .15s,
      transform ease-out .15s;
  }

  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: $primary;
    right: 0;
    top: calc(50% - 2px);
    transition: 
      opacity ease-out .15s,
      transform ease-out .15s;
  }
}