.clients {
  @extend .container;

  margin-bottom: $spacer-lg;

  @include media-breakpoint-up(sm) {
    margin-bottom: $spacer-xl;
  }

  @include media-breakpoint-up(xl) {
    margin-top: $spacer-lg;
  }
}

.clients-heading {
  @extend .about-heading;

  @include media-breakpoint-up(xl) {
    display: none;
  }
}

.clients-list {
  @extend .list-unstyled;

  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients-item {
  width: 100%;

  &:nth-child(n + 4) {
    display: none;
  }

  @include media-breakpoint-up(sm) {
    width: 50%;

    &:nth-child(n + 4) {
      display: block;
    }
  }
  
  @include media-breakpoint-up(md) {
    width: calc(100% / 3);
  }

  @include media-breakpoint-up(lg) {
    width: calc(100% / 6);
  }
}

.clients-link {
  
  
  &:hover {
    .clients-image {
      opacity: 1;
    }
  }
}

.clients-image {
  display: block;
  width: 100%;
  opacity: 0.4;
  transition: opacity 200ms ease-out;
}