.main-footer-container {
  @extend .container;
}

.main-footer-heading {
  margin: 0;

  @include media-breakpoint-down(sm) {
    font-size: 1.6rem;
  }
}

.main-footer-text {
  @extend h2, .main-footer-heading;

  color: $gray;
  margin: 0;
}

.main-footer-actions {
  @extend .list-unstyled;

  margin-top: $spacer-md;

  @include media-breakpoint-up(lg) {
    margin-top: $spacer-md + $spacer;
  }

  @include media-breakpoint-up(xxl) {
    margin-top: $spacer-lg;
  }
}

.main-footer-copyright {
  color: $gray;
  text-align: center;
  padding: 0 $spacer $spacer;
  margin: $spacer-lg 0 0;
  font-size: 0.825rem;

  @include media-breakpoint-up(lg) {
    margin-top: $spacer-lg + $spacer;
  }

  @include media-breakpoint-up(xxl) {
    margin-top: $spacer-xl;
  }
}
