.main-header {
  padding: $spacer-md 0 $spacer-lg;

  @include media-breakpoint-up(lg) {
    padding: $spacer-lg 0 $spacer-xl;
  }

  @include media-breakpoint-up(xxl) {
    padding: $spacer-lg 0 $spacer-xxl;
    background-image: url('~assets/images/andres-portrait.jpg'); // TODO: Integrate the right image with correct resolution and dimensions
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
  }
}

.main-header-container {
  @extend .container;
}

.main-header-brand {
  display: block;
  width: 50px;

  @include media-breakpoint-up(xxl) {
    width: 80px;
  }
}

.main-header-heading {
  margin: $spacer-lg 0 $spacer;

  @include media-breakpoint-up(lg) {
    margin: $spacer-xl 0 $spacer;
  }

  @include media-breakpoint-up(xxl) {
    margin: $spacer-xxl 0 $spacer;
  }
}

.main-header-subheading {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  color: $primary;

  @include media-breakpoint-up(lg) {
    font-size: 1.6rem;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 2rem;
  }
}

.main-header-text {
  color: $gray;
  max-width: 550px;
}

.main-header-actions {
  @extend .list-unstyled;

  margin-top: $spacer-md;

  @include media-breakpoint-up(xxl) {
    margin-top: $spacer-lg;
  }
}