.main-footer-container {
  @extend .container;
}

.main-footer-heading {
  margin: 0;
}

.main-footer-text {
  @extend h2;

  color: $gray;
  margin: 0;
}

.main-footer-actions {
  @extend .list-unstyled;

  margin-top: $spacer-md;

  @include media-breakpoint-up(xxl) {
    margin-top: $spacer-lg;
  }
}

.main-footer-copyright {
  margin-top: $spacer-lg;
  background: $secondary;

  @include media-breakpoint-up(xxl) {
    margin-top: $spacer-xl;
  }
}

.main-footer-copyright-container {
  @extend .container;
}

.main-footer-copyright-text {
  color: $white;
  text-align: center;
  padding: $spacer;
  margin: 0;
  font-size: 0.825rem;
}

.main-footer-copyright-message {
  display: block;
  font-size: 1rem;
  margin-bottom: $spacer;
  opacity: 0.3;
}
