.work {
  background-image: url('~assets/images/work-background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: $secondary;
  padding: $spacer-lg 0;

  @include media-breakpoint-up(lg) {
    padding: $spacer-xl 0;
  }
}

.work-container {
  @extend .container;

  position: relative;
}

.work-heading {
  @extend .about-heading;

  color: $white;
  margin-bottom: $spacer-md;

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer-lg;
  }
}

.work-content {
  position: relative;
}

.work-single {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; 
  min-height: 585px;

  @include media-breakpoint-up(sm) {
    min-height: 590px;
  }

  @include media-breakpoint-up(md) {
    min-height: 640px;
  }

  @include media-breakpoint-up(lg) {
    min-height: 400px;
  }

  @include media-breakpoint-up(xl) {
    min-height: 365px;
  }

  @include media-breakpoint-up(xxl) {
    min-height: auto;
    justify-content: space-between;
  }
}

.work-single-content {
  order: 1;
  transition: transform 200ms ease-out;

  @include media-breakpoint-up(lg) {
    order: 0;
    width: 50%;
    padding-right: $spacer-lg;
  }

  @include media-breakpoint-up(xxl) {
    width: 40%;
    padding-right: $spacer-xl;
  }
}

.work-single-heading {
  color: $white;
  font-size: 1.2rem;
  margin-bottom: $spacer;

  @include media-breakpoint-up(md) {
    font-size: 1.6rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer-md;
  }
}

.work-single-heading-link {
  border-bottom: solid 2px $primary;
  padding-bottom: $spacer-xs;
  color: $white;
  transition: color 200ms ease-out;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.work-single-text {
  @extend .about-text;

  color: $light;

  a {
    color: $primary;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }
}

.work-single-figure {
  width: 100%;
  margin-bottom: $spacer-md;

  @include media-breakpoint-up(lg) {
    width: 50%;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(xxl) {
    width: 60%;
  }
}

.work-single-image {
  display: block;
  width: 100%;
}

.work-count {
  color: $white;
  font-family: $headings-ff;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: left;
  line-height: 1.45rem;
  font-size: 0.9rem;

  @include media-breakpoint-up(lg) {
    width: calc(50% - #{$spacer-lg});
  }

  @include media-breakpoint-up(xxl) {
    width: calc(40% - #{$spacer-xl});
    position: relative;
    top: -($spacer-sm * 2);
  }
}

.work-actions {
  @extend .list-unstyled;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  @include media-breakpoint-up(lg) {
    width: calc(50% - #{$spacer-lg});
  }

  @include media-breakpoint-up(xxl)  {
    width: calc(40% - #{$spacer-xl});
    bottom: ($spacer-sm * 2);
  }
}

.work-action-prev {
  position: absolute;
  right: ($spacer-lg + $spacer);
  bottom: 0;

  @include media-breakpoint-up(lg) {
    right: $spacer-lg;
  }
}

.work-action-next {
  @extend .work-action-prev;

  left: initial;
  right: $spacer;

  @include media-breakpoint-up(lg) {
    right: 0;
  }
}

.work-action-prev-button {
  width: auto;
  height: auto;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 200ms ease-out;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $primary;
  }

  &.is-disabled {
    opacity: 0.2;

    &:hover {
      color: $white;
    }
  }
}

.work-action-next-button {
  @extend .work-action-prev-button;
}

.work-action-text {
  @extend .sr-only;
}